.about-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  min-height: 100vh;
}

.headshot-container {
  background-image: url("/images/spaceship-interior-projects.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 20px;
  text-align: center;
  height: 400px;
  width: 100vw;
}

.profile-image {
  border: 2px solid rgb(178, 227, 241);
  border-radius: 100%;
}

.svg-about {
  transform: scale(0.45);
}

.text-container {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  padding: 30px 10px 40px 10px;
}

.bio-info {
  max-width: 400px;
}

.hobby-text {
  padding-top: 20px;
}

.about-project-button {
  background-color: rgba(25, 25, 25, 0.8);
  border: solid 2px rgb(24, 143, 216);
  border-radius: 8px;
  color: rgb(24, 143, 216);
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 48px;
  margin-bottom: 40px;
  width: auto;
  width: 200px;
}

.about-project-button:hover {
  background-color: rgb(177, 243, 245);
  color: black;
}

@media (max-width: 600px) {
  .svg-about {
    margin-left: -158px;
    transform: scale(0.3);
  }

  .headshot-container {
    padding-top: 80px;
  }

  img {
    width: 50%;
  }

  .hobby-text {
    padding: 20px;
  }

  .about-project-button {
    height: 40px;
    width: 152px;
  }
}
