.home-container {
  background-image: url("/images/homeplanet.jpg");
  background-size: auto 90%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: black;
  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(145, 228, 228, 0.068)
  ); */
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  padding: 0;
  text-align: center;
}

.introduction-text {
  color: rgb(236, 233, 233);
  font-size: 14pt;
  font-weight: bold;
  margin: 40px 0px 10px 0px;
  text-shadow: 1px 1px 2px black;
}

.home-button-container {
  display: flex;
  flex-direction: row;
}

.home-button {
  background-color: rgba(25, 25, 25, 0.8);
  border: solid 2px rgb(24, 143, 216);
  border-radius: 8px;
  color: rgb(24, 143, 216);
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 48px;
  margin: 40px 10px 40px 10px;
  width: 200px;
}

.project-button {
  transition: all 0.2s ease-in-out;
}

.project-button:hover {
  background-color: rgb(177, 243, 245);
  color: black;
}

.svg-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-top: 100px;
}

.svg-header {
  transform: scale(0.7);
}

path {
  animation: draw 5s linear forwards;
}

@media (max-width: 600px) {
  .home-container {
    background-size: auto 70%;
  }

  .svg-header {
    transform: scale(0.4);
  }

  .home-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .home-button {
    height: 40px;
    width: 120px;
    font-size: 14pt;
    margin: 10px;
  }
}

@media (max-width: 400px) {
  .home-container {
    background-size: 150% auto;
  }

  .svg-container {
    padding-top: 20px;
  }

  .svg-header {
    transform: scale(0.3);
  }
}
