.home-container {
  /* background-size: auto 80%; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgb(12, 11, 11);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(145, 228, 228, 0.068)
  );
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.greeting-text {
  color: white;
  display: flex;
  font-size: 40px;
  justify-content: center;
  padding-top: 100px;
}

.greeting-text-two {
  color: white;
  font-size: 40px;
}

.project-button {
  background-color: black;
  border-radius: 8px;
  border: 2px solid rgb(177, 243, 245);
  color: rgb(177, 243, 245);
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  outline: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 170px;
}

.project-button {
  transition: all 0.2s ease-in-out;
}

.project-button:hover {
  background-color: rgb(177, 243, 245);
  color: black;
}

.svg-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.6);
}

path {
  animation: draw 5s linear forwards;
}

/* tablets and large phones, 600px and up */
@media (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }

  .svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
  }
}
