.header-background {
  background-color:black;
  height:70vh;
  background-image:url('/images/spaceship-interior-projects.jpg');
  background-repeat: no-repeat; 
  background-size:contain;
  background-position: center center;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align:center;
}

.header-text-projects {
  -webkit-text-stroke: 1px black;
  color:rgb(178, 227, 241);
  font-family:'Orbitron', sans-serif;
  font-size: 34px;
  font-weight: bold;
  padding-top: 40px;
}

.info-container {
  width:600px;
  font-size:28pt;
  -webkit-text-stroke: 1px black;
  color:#fff;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.arrow-box {
  display:flex;
  flex-direction:column;
  align-items: center;
  top:40%;
  left:40%;
}
 
.arrow-box div {
  display:flex;
  width:20px;
  height:20px;
  border-bottom:5px solid white;
  border-right:5px solid white;
  transform:rotate(45deg);
  animation: arrowDrop 2s infinite;
  margin:-10px;
}

.arrow-box div:nth-child(2) 
{
  animation-delay:-0.2s;
    
}
.arrow-box div:nth-child(3) 
{
  animation-delay:-0.4s;
}
@keyframes arrowDrop 
{
  0%
  {
      opacity:0;
      transform:rotate(45deg)translate(-20px,-20px);
  }
  50%
  {
      opacity:1;
  }
  100%
  {
      opacity:0;
      transform:rotate(45deg)translate(20px,20px);
  }
}

.parallax-divider-container {
  background-color:black;
  height:60vh;
  border-width: 2px 0;
}

.api-image {
  height:100%;
  background-size:cover;
  background-position:center center;
}

.svg-smaller {
  transform: scale(0.45);
}
