.header-background {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header-text-projects {
  color: rgb(178, 227, 241);
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}

h1.header-text-projects {
  margin-bottom: 40px;
}

.projects-container {
  position: relative;
}

.parallax-divider-container {
  background-color: black;
  border-width: 2px 0;
  height: 60vh;
}

.api-image {
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.svg-projects {
  transform: scale(0.45);
}

.to-top-container {
  align-items: center;
  bottom: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.to-top {
  justify-content: center;
}

@media (max-width: 600px) {
  /* Mobile */

  .header-text-projects {
    font-size: 30px;
  }

  .svg-projects {
    transform: scale(0.3);
  }

  .info-container {
    font-size: 15pt;
    width: 200px;
  }
}
