.header-background {
    background-color:black;
    height:70vh;
    background-image:url('/images/spaceship-interior-projects.jpg');
    background-repeat: no-repeat; 
    background-size:contain;
    background-position: center center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
}

.header-text-projects {
    -webkit-text-stroke: 1px black;
    color:#fff;
    font-family:'Orbitron', sans-serif;
}

.info-container {
    width:600px;
    font-size:28pt;
    -webkit-text-stroke: 1px black;
    color:#fff;
}

.arrow-box {
    display:flex;
    flex-direction:column;
    align-items: center;
    top:50%;
    left:50%;
 }
 
.arrow-box div {
    display:flex;
    width:20px;
    height:20px;
    border-bottom:5px solid white;
    border-right:5px solid white;
    transform:rotate(45deg);
    animation: arrowDrop 2s infinite;
    margin:-10px;
}

.arrow-box div:nth-child(2) 
{
    animation-delay:-0.2s;
    
}
.arrow-box div:nth-child(3) 
{
    animation-delay:-0.4s;
}
@keyframes arrowDrop 
{
    0%
    {
        opacity:0;
        transform:rotate(45deg)translate(-20px,-20px);
    }
    50%
    {
        opacity:1;
    }
    100%
    {
        opacity:0;
        transform:rotate(45deg)translate(20px,20px);
    }
}

.project-container {
    display:flex;
    flex-direction:row;
    border:2px solid white;
}

.project-image {
    height:60vh;
    width:40vw;
    background-size:350px;
    background-position: center;
    display:flex;
    flex-direction:row;
    background-repeat: no-repeat; 
    justify-content: center;
}

.movie-container {
    display:flex;
    flex-direction:column;
   justify-content: space-around;
}
.project-title {
    color: rgb(177, 243, 245);
    font-size: 36pt;
    text-align:center;
}

.button-container {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: right;
}
.project-page-button {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Wallpoet', cursive;
  margin:0 auto;
  height:50px;
  width: 175px;
  padding: 8px;
  color: rgb(177, 243, 245);
  border: 2px solid #fff;
  outline: none;
  text-decoration: none;
  background-color:black;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
}
  
.project-page-button{
    transition: all .2s ease-in-out;
}

.project-page-button:hover {
  background-color:rgb(177, 243, 245);
  color:black;
}

#tools-used-desc {
   text-align:left;
   font-size: 12pt;
}

.project-text{
    color: rgb(221, 211, 211);
    font-size:12pt;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}



