.modal-container {
  position:fixed;
  width: 100vw;
  height:100vh;
  left:0;
  top:0;
  background-color: rgba(102, 98, 98, 0.85);
  z-index: 100;
  padding: 10vh 10vw;
}

.modal-body {
  display:flex;
  flex-direction: column;
  position:relative;
  background-color:rgb(24, 22, 22);
  border: 3px solid rgb(177, 243, 245);
}

.modal-content {
  display:flex;
  flex-direction:column;
  overflow-y:auto;
  
}

.modal-img {
  display:flex;
  justify-content:center;
  flex-basis:50%;
  height:40vh;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-image-wrapper {
  padding-bottom:30px;
}

.modal-details {
  display:flex;
  flex-direction:column;
  padding: 30px;
  color: blanchedalmond;
  font-size:12pt;
  white-space:pre-line;
  line-height: 1.5em;
}

.modal-title {
  color: rgb(177, 243, 245);
  display:flex;
  flex-direction:row;
  font-size: 32pt;
  flex-grow:0;
  flex-basis: 80px;
  justify-content: center;
  margin-bottom:20px;
  padding-top: 32px;
  text-align:center;
}

.close-icon {
  color:rgb(185, 181, 181);
  font-size:30px;
  position:absolute;
  top:10px;
  right:10px;
}

@media (max-width:765px) {
  .modal-body {
    max-height:80vh;

  }
  .modal-content {
    flex-direction:column;
    overflow-y:auto;
  }

  .modal-title {
    font-size: 20pt;
  }

  .modal-details {
    font-size:12pt;
  }
  
  .modal-img {
    width:76vw;
    padding-top:10px;
    height:auto;
  }

  .close-icon {
    font-size:20px;
  }
}