.modal-container {
  position:fixed;
  width: 100vw;
  height:100vh;
  left:0;
  top:0;
  background-color: rgba(102, 98, 98, 0.85);
  z-index: 100;
  padding: 10vh 10vw;
}

.modal-body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  position:relative;
  background-color:rgb(24, 22, 22);
  padding:8px;
  border: 3px solid rgb(177, 243, 245);
}

.modal-content {
  display:flex;
  flex-direction:row;
  flex-grow:1;
}

.modal-img {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-basis:50%;
}

.modal-gif {
  width:75%; 
  border:1px solid blanchedalmond;
}

.modal-details {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
  flex-basis:50%;
  color: blanchedalmond;
  font-size:12pt;
}

.modal-title {
  color: rgb(177, 243, 245);
  font-size: 26pt;
  text-align:center;
  flex-grow:0;
  flex-basis: 80px;
  padding-top: 20px;
}

.close-icon {
  color:rgb(185, 181, 181);
  font-size:30px;
  position:absolute;
  top:10px;
  right:10px;
}

@media (max-width:600px) {

  .modal-content {
    flex-direction:column;
  }

  .modal-title {
    font-size: 20pt;
  }

  .modal-details {
    font-size:12pt;
    padding-top:30px;
  }

  .modal-gif {
    width:60%;
    padding-top:10px;
  }

  .close-icon {
    font-size:20px;
  }
}