.navbar-container {
  align-items: left;
  display: flex;
  flex-direction: row;
}

.sidenav-item {
  align-items: left;
  display: flex;
  cursor: pointer;
  flex-direction: row;
}

.sidenav-item {
  color: rgb(24 180 216);
  font-family: "Orbitron", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}

.sidenav-icon {
  font-size: 22px;
  justify-content: center;
  margin-left: 60px;
}

@media (max-width: 600px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 20px;
    width: 100vw;
  }

  .sidenav-item {
    align-items: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    margin: 0;
    width: auto;
  }

  .header-logo {
    height: 30px;
    justify-content: left;
  }
}
