
.project-container {
    display:flex;
    flex-direction:row;
    border-top:1px solid blanchedalmond; 
    border-bottom:1px solid blanchedalmond;
    align-items:center;
    min-height: 469px;
}

.image-container {
    width:40vw;
    height:50vh;
    background-size:contain;
    background-position: center;
    display:flex;
    flex-direction:row;
    background-repeat: no-repeat; 
    justify-content: center;
    align-items: center;
    flex-shrink:0;
}

.image-container-wrap {
  padding-right:42px;
  padding-left:22px;
}

.project-gif {
    width: 70%;
    border:1px solid blanchedalmond;
}

.detail-container {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.project-title {
    color:rgb(178, 227, 241);
    font-size: 38pt;
    line-height:48pt;
    text-align:center;
    font-family: 'Orbitron', sans-serif;
    padding-bottom:40px;
}

.button-container {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    padding-top:40px;
}

.project-page-button {
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  margin:0 auto;
  height:40px;
  width: 160px;
  padding: 8px;
  color: rgb(177, 243, 245);
  border: 2px solid rgb(177, 243, 245);
  outline: none;
  text-decoration: none;
  background-color:black;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  border-radius: 8px;
}
  
.project-page-button{
    transition: all .2s ease-in-out;
}

.project-page-button:hover {
  background-color:rgb(177, 243, 245);
  color:black;
}

#tools-used-desc b {
   text-align:left;
   font-size: 12pt;
   text-transform: uppercase;
   color:rgb(177, 243, 245);
}

.project-text{
    /* color: rgb(221, 211, 211); */
    font-size:12pt;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: blanchedalmond;
}
#text-desc b {
    text-transform: uppercase;
    color:rgb(177, 243, 245);
}

@media (max-width: 600px) {
  .project-container {
    display:flex;
    flex-direction:column;
    min-height: 200px;
    padding:20px 10px;
  }

  .image-container {
    min-height:0;
    width:80vw;
    display:flex;
    flex-direction:column; 
  } 

  .project-title {
    font-size: 20pt;
    text-align:left;
    font-family: 'Orbitron', sans-serif;
    padding-top:30px;
    padding-bottom:10px;
  }

  .project-gif {
    width: 60%;
  }

  .detail-container {
    display:flex;
    flex-direction:column;
    justify-content:left;
  }

  .project-page-button {
    font-size:12px;
  }
  
  .tools-desc-container {
   margin-top:20px;
  }
}