.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60px;

}
.column-container {
  display:flex;
  flex-direction:row;

}
.column {
  flex-basis:33%;
}
