.App {
  text-align: center;
}

body {
  background-color: rgb(12, 12, 12)
}

.App-header{
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(145, 228, 228, 0.068)), url('/images/header-image.jpg');
  border: 4px solid black;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  height:400px;

}

.banner-text {
  font-family: 'Wallpoet', cursive;
  font-size: 17px;
  flex-direction:row;
  justify-content: center;
  text-align:center;

}

.banner-text {
  flex-direction:row;
  text-align:center;
}

.greeting-text {
  flex-direction: row;
  align-items:center;
  justify-content:center;
  align-items:center;
  font-size:50px;

}

.greeting-two-text {
  flex-direction:row;
  font-family: 'Roboto Mono', monospace;
  align-items:center;
  justify-content: center;
  text-align:center;
}

.project-button {
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Wallpoet', cursive;
  text-align: center;
  margin:0 auto;
  display: block;
  width: 150px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  text-decoration: none;
  background-color:black;
}
  
.project-button {
    transition: all .2s ease-in-out;
}

.project-button:hover {
  background-color:rgb(240, 232, 232);
  color:black;
}

.column-container {
  display:flex;
  flex-direction:row;
}

.navbar-container {
  position: fixed;
  left: 0;
  top:25%;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: flex-start;
}

.sidenav-item {
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:center;
  width: 180px;
  margin-bottom:15px;
  position:relative;
  cursor:pointer;
}

.sidenav-item a {
  position: absolute;
  left:0px;
  opacity:0;
  transition: 0.3s; /* Add transition on hover */
  padding-left: 15px; /* 15px padding */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  color: rgb(219, 236, 236);
  font-weight:bold;
}

.sidenav-image {
  width:60px;
  height:60px;
}

.sidenav-item:hover a { 
  left: 60px; /* On mouse-over, make the elements appear as they should */
  opacity:1;
  color:rgb(69, 228, 220);
}

.header-logo {
  height: 60px;
  justify-content: left;
}


.project-modal {
  font-family: 'Wallpoet', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 35px;
  color: #FAF4F4;
}
 
.column {
  flex-basis:33%;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.project-container {
  width:100%;
  max-width: 250px;

}

.project-image {
  width:100%;
  height:0;
  padding-top: 100%;
  border:solid 2px black;
  background-color: gray;
  background-size:cover;
}

.project-title {
  font-family: 'Wallpoet', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 35px;
  color: #FAF4F4;
}

#raw-materials-image {
  background-image:url();
}

#busMall-image {
  background-image:url('/images/busMall-image.png');
}

#movie-night-image {
  background-image: url('/images/movie-night-image.png');
}

