.header-background {
    height:80vh;
    background-image:url('/images/spaceship-interior-projects.jpg');
    background-repeat: no-repeat; 
    background-size:contain;
    background-position: center center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
}

.info-container {
    width:600px;
    font-size:28pt;
    -webkit-text-stroke: 1px black;
    color:#fff;
}

.project-page-button {
  font-size: 22pt;
  font-weight: bold;
  font-family: 'Wallpoet', cursive;
  text-align: center;
  margin:0 auto;
  display: block;
  height:60px;
  width: 210px;
  padding: 8px;
  color: rgb(177, 243, 245);
  border: 2px solid #fff;
  outline: none;
  text-decoration: none;
  background-color:black;
}

.project-page-button:hover {
    background-color:rgb(177, 243, 245);
    color:black;
  }